DATABASE_URL="postgresql://mgem:password@10.0.1.99:5432/vespera?schema=public"

# JWT
JWT_SECRET="cambia-questo-con-una-stringa-segreta-lunga"
JWT_EXPIRES_IN="15m"
JWT_REFRESH_SECRET="cambia-questo-con-un-altra-stringa-segreta"
JWT_REFRESH_EXPIRES_IN="7d"

# App
PORT=3001
NODE_ENV=development
FRONTEND_URL="http://localhost:3000"
